{% extends 'recherche.html.twig' %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ app.rootRoute }}/web/js/ajax.js"></script>
{% endblock scripts %}

{% block accueil %}
{% endblock accueil %}

{% block cours %}
{% endblock cours %}

{% block statut %}
{% endblock statut %}

{% block update %}
{% endblock update %}

{% block title %}ESSAI{% endblock title %}
{% block enseignant %}
    <div id="portfolio" class="portfolio-page container-fluid">

        <div class="row">

            <!--( a ) Enseignant Page Fixed Image Portion -->

            <div class="image-container col-md-3 col-sm-12">
                <div class="mask">
                </div>
                <div class="main-heading">
                    <h1>Enseignant</h1>
                </div>
            </div>

            <!--( b ) Enseignant Page Content -->

            <div class="content-container col-md-9 col-sm-12">

                <!--( A ) Enseignant -->

                <div class="portfolio clearfix full-height">
                    <h2 class="small-heading">ENSEIGNANT</h2>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="project-container">
                                <div class="row">

                                    {% if not prof %}
                                        <!-- CONTENU ENSEIGNANT  -->
                                        <form class='form-inline text-center' role='form' action="{{path('rechercheEnseignant')}}" method='POST'>
                                            <h3 id ="imgloader" style="display : none;" >Chargement...</h3>
                                            <h4 id ="msgerr" style="display : none;" >Aucun résultat trouvé...</h4>
                                            <div class="form-group">
                                                <input name='enseignant' class='form-control' id='enseignant' placeholder='Nom enseignant' type='text'>
                                            </div>
                                            <button type='submit' class='filter'>Rechercher</button>
                                        </form>
                                    {% endif %}
                                    {% if prof %}

                                        <!-- On récupére le total des heures de charge de fonction -->
                                        {% set total_chg = 0 %}
                                        {% for element in load_chg%}
                                            {% set total_chg = total_chg + element.H_TD %}
                                        {% endfor %}

                                        <!-- On récupére le total des heures d'enseignement -->
                                        {% set total_ec = 0 %}
                                        {% for element in load_ec%}
                                            {% set total_ec = total_ec + element.H_TD + 1.5*element.H_CM + element.H_EAD %}
                                        {% endfor %}

                                        <div class="row">
                                            <div class="col-md-12 text-center alert alert-info">
                                                <h3>{{prenom}} {{nom}}</h3>
                                                <div class="row">
                                                    <div class="col-md-12 text-center"> {{statut}} </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 text-center"> du = {{nbhmin}} </div>
                                                    <div class="col-md-6 text-center"> max = {{nbhmax >0 ? nbhmin+nbhmax : "pas de max"}} </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 text-center"> Nombre d'heures d'enseignement : {{total_ec}} heures </div>
                                                    <div class="col-md-6 text-center"> Nombre d'heures de charge pour fonction : {{total_chg}} heures </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-center"> Nombre total d'heures : {{total_chg + total_ec}} heures</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% set toto = 2015 %}
                                        <h2> Charges pour fonctions </h2>
                                        <table id="table_chg" class="display table-striped table-bordered"> 
                                            <thead>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Prénom</th>
                                                    <th>Libellé CPF</th>
                                                    <th>Code CPF</th>
                                                    <th>Heures</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for element in load_chg%}
                                                    <tr>
                                                        <td>{{element.NOM}}</td>
                                                        <td>{{element.PRENOM}}</td>
                                                        <td>{{element.LIB_CHG}}</td>
                                                        <td>{{element.CODE_CHG}}</td>
                                                        <td>{{element.H_TD}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <b>Total : </b>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>                
                                                    </td>
                                                    <td>                                                    
                                                    </td>
                                                    <td>
                                                        <b>{{total_chg}} heures</b>
                                                    </td>
                                                </tr>
                                            </tfoot>

                                        </table>

                                        <h2> Cours </h2>
                                        <table id="table_ec" class="display table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Libellé matière</th>
                                                    <th>Groupe</th>
                                                    <th>Heure CM</th>
                                                    <th>Heure TD</th>
                                                    <th>HETD</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for element in load_ec%}
                                                    <tr>
                                                        <td><a href="{{path('rechercheCours', {'cours': element.LIBELLE_EC})}}">{{element.LIBELLE_EC}}</a></td>
                                                        <td>{{element.GROUPE}}</td>
                                                        <td>{{element.H_CM}}</td>
                                                        <td>{{element.H_TD}}</td>
                                                        <td>{{element.H_TD + 1.5*element.H_CM + element.H_EAD}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <b>Total : </b>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>                
                                                    </td>                                                            
                                                    <td>                
                                                    </td>                                                    
                                                    <td>                
                                                        <b> {{total_ec}} heures</b>
                                                    </td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock enseignant %}
