{% extends 'recherche.html.twig' %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ app.rootRoute }}/web/js/ajax.js"></script>
{% endblock scripts %}

{% block accueil %}
{% endblock accueil %}

{% block cours %}
{% endblock cours %}

{% block enseignant %}
{% endblock enseignant %}

{% block update %}
{% endblock update %}


{% block statut %}

<div id="service" class="service-page container-fluid">
    <div class="row">
        <!--( a ) Portfolio Page Fixed Image Portion -->
        
        <div class="image-container col-md-3 col-sm-12">
            <div class="mask">
            </div>
            <div class="main-heading">
                <h1>Statut</h1>
            </div>
        </div>
        
        <!--( b ) Portfolio Page Content -->
        
        <div class="content-container col-md-9 col-sm-12">
            
            <!--( A ) Portfolio -->
            
            <div class="clearfix">
                <h2 class="small-heading">RECHERCHE PAR STATUT</h2>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12">
                        <div class="row">

<center>
<form class="form-inline" role="form" action="{{path('rechercheStatut')}}" method="POST" style="padding-bottom: 25px;">
    <h3 id ="imgloader" style="display : none;" >Chargement...</h3>
    <h4 id ="msgerr" style="display : none;" >Aucun résultat trouvé...</h4>
  <div class="form-group">
    <input type="text" class="form-control" id="statut" name="statut" placeholder="Entrer le statut">
  </div>
  <button type="submit" class="filter">Rechercher</button>
</form>
</center>

{% if recherche %}

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Statut</th>
            <th>Année</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>HETD Totale</th>
            <th>Heures Sup</th>
        </tr>
    </thead>
    <tbody>
        {% for element in statut%}
        <tr>
            <td>{{element.STATUT}}</td>
            <td>{{element.ANNEE}}</td>
            <td><a href="{{path('rechercheEnseignant', {'nomEns': element.NOM})}}">{{element.NOM}}</a></td>
            <td><a href="{{path('rechercheEnseignant', {'nomEns': element.NOM})}}">{{element.PRENOM}}</a></td>
            <td>{{element.HED}}</td>
        {% if element.H_SUP > 0 %}
            <td class="positif">{{element.H_SUP}}</td>
        {%elseif element.H_SUP < 0 %} 
            <td class="negatif">{{element.H_SUP}}</td>
        {%else%}
            <td>{{element.H_SUP}}</td>
        {%endif%}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>  
</div>



{% endblock statut %}